# Dependency directories
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Optional npm cache directory
.npm

# Environment variables
.env

# Session files
session/
session.json
*.json.bak
creds.json
store.json

# Media and temp files
media/*
!media/.gitkeep
temp/*
!temp/.gitkeep

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Optional eslint cache
.eslintcache

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# dotenv environment variables file
.env.test